-e .

dtreeviz
graphviz
ipython
ipywidgets
joblib
jupyterlab
jupyterlab-widgets
matplotlib
natsort
numpy
pandas
pillow
plotly
SciencePlots
scikit-image[optional]
scikit-learn
scipy
seaborn
statsmodels
tables
tensorflow
tqdm
typing-extensions
xgboost
