imblearn
ipython
ipywidgets
joblib
jupyterlab
jupyterlab-widgets
keras_tuner
matplotlib
natsort
numpy
pandas
pillow
plotly
shap
SciencePlots
scikit-image[optional]
scikit-learn
scipy
seaborn
tables
tensorflow==2.10.0
tqdm
typing-extensions
xgboost

